# Caches and build files
__pycache__
.pyc
.idea
*.egg-info
.eggs
.snakemake

# Local environment
.env
/tmp
/logs

# Data directories
/data/db
/data/backgrounds
/data/ds_cache
/data/trajectory_cache
/data/K_estimates_cache
intermediate-data
