# Caches and build files
__pycache__
.pyc
.idea
*.egg-info
.eggs
.snakemake

# Local environment
.env
/tmp
/logs

# Data directories
/data/backgrounds
/data/db
/data/datasets
/data/eigenworms
/data/K_estimates_cache
/data/MF_outputs
/data/pca_cache
/data/posture_distances_cache
/data/prepared_images
/data/reconstruction_videos
/data/tracking_videos
/data/trajectory_cache
intermediate-data
**/worm_data
