<div class="g-0 mt-5 mb-5 tracking-plots-2d">
  <div class="d-flex justify-content-center align-items-center">
    <div class="spinner-border mt-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="row g-1">
    <div id="tracking-plot-xy" class="col"></div>
    <div id="tracking-plot-xz" class="col"></div>
    <div id="tracking-plot-yz" class="col"></div>
  </div>
  <div class="row g-1">
    <div id="tracking-plot-x" class="col"></div>
    <div id="tracking-plot-y" class="col"></div>
    <div id="tracking-plot-z" class="col"></div>
  </div>
</div>
