{% extends '__layout.html' %}
{% import 'table/_data_table.html' as table %}
{% import 'table/_details_table.html' as details %}
{% import '_tabs.html' as tabs %}


{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-4">
      {{ details.render(reconstruction_view, reconstruction) }}
    </div>
    <div class="col-sm-12 col-md-4">
      <h3>Trial</h3>
      {{ details.render(trial_view, reconstruction.trial) }}
    </div>
    <div class="col-sm-12 col-md-4">
      <h3>Experiment</h3>
      {{ details.render(experiment_view, reconstruction.trial.experiment) }}
    </div>
  </div>

  <div class="row">

    <ul class="nav nav-tabs" id="reconstruction-{{ reconstruction.id }}-tabs" role="tablist">
      {{ tabs.tab_item('Parameters', true) }}
    </ul>

    <div class="tab-content" id="reconstruction-{{ reconstruction.id }}-panels">
      {% call tabs.tab_panel('Parameters', true) %}
        {{ details.render(parameters_view, reconstruction.mf_parameters) }}
      {% endcall %}
    </div>

  </div>

{% endblock %}


{% block scripts %}
{#  {% with %}#}
{#    {% set doc_view=reconstruction_view %}#}
{#    {% include 'table/_table_js.html' %}#}
{#  {% endwith %}#}

{% endblock %}

