{% extends '__layout.html' %}
{% import 'includes/_data_table.html' as table %}
{% import 'includes/_details_table.html' as details %}
{% import 'includes/_tabs.html' as tabs %}
{% import 'includes/_cards.html' as cards %}
{% set D = reconstruction.mf_parameters.depth %}
{% set D_min = reconstruction.mf_parameters.depth_min %}


{% block content %}
  <div class="row mb-4">
    <div class="col-sm-12 col-md-4">
      {% call cards.card() %}
        {{ details.render(reconstruction_view, reconstruction) }}
      {% endcall %}
    </div>
    <div class="col-sm-12 col-md-4">
      {% call cards.card('Trial') %}
        {{ details.render(trial_view, reconstruction.trial) }}
      {% endcall %}
    </div>
    <div class="col-sm-12 col-md-4">
      {% call cards.card('Experiment') %}
        {{ details.render(experiment_view, reconstruction.trial.experiment) }}
      {% endcall %}
    </div>
  </div>

  <div class="row">

    <ul class="nav nav-tabs" id="reconstruction-{{ reconstruction.id }}-tabs" role="tablist">
      {% if reconstruction.source == 'MF' %}
        {{ tabs.tab_item('Parameters', true) }}
        {% if reconstruction.has_data %}
          {{ tabs.tab_item('Stats') }}
        {% endif %}
      {% endif %}
      {% if reconstruction.has_video %}
        {{ tabs.tab_item('Video') }}
      {% endif %}
      {% if reconstruction.has_data %}
        {{ tabs.tab_item('Tracking 2D') }}
        {{ tabs.tab_item('Tracking 3D', reconstruction.source != 'MF') }}
        {% if reconstruction.source == 'MF' %}
          {{ tabs.tab_item('Cameras') }}
          {{ tabs.tab_item('Render stats') }}
        {% endif %}
        {{ tabs.tab_item('Postures') }}
        {% if reconstruction.source == 'MF' %}
          {{ tabs.tab_item('Lengths') }}
        {% endif %}
        {{ tabs.tab_item('Planarity') }}
      {% endif %}
      {% if reconstruction.eigenworms | length > 0 %}
        {{ tabs.tab_item('Eigenworms') }}
      {% endif %}
    </ul>

    <div class="frame-controls my-2" style="display: none;">
      <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="fc-prev-25 btn btn-primary btn-large">
          <span class="oi oi-media-skip-backward"></span>
        </button>
        <button type="button" class="fc-prev btn btn-primary btn-large ms-1">
          <span class="oi oi-arrow-thick-left"></span>
        </button>
        <div class="fc-progress progress mx-2" title="">
          <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
        <button type="button" class="fc-next btn btn-primary btn-large">
          <span class="oi oi-arrow-thick-right"></span>
        </button>
        <button type="button" class="fc-next-25 btn btn-primary btn-large ms-1">
          <span class="oi oi-media-skip-forward"></span>
        </button>
        <div class="">
          <div class="fc-frame ms-3">
            <span class="fc-current-frame">{{ '{:,}'.format(reconstruction.start_frame) }}</span>
            / <span class="fc-num-frames">{{ '{:,}'.format(reconstruction.end_frame) }}</span>
          </div>
          <div class="fc-time ms-3">
            <span class="fc-current-time">{{ reconstruction.get_time(reconstruction.start_frame).strftime('%M:%S') }}</span>
            / <span class="fc-total-time">{{ reconstruction.get_time(reconstruction.end_frame).strftime('%M:%S') }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-content" id="reconstruction-{{ reconstruction.id }}-panels">
      {% if reconstruction.source == 'MF' %}
        {% call tabs.tab_panel('Parameters', true) %}
          {{ details.render(parameters_view, reconstruction.mf_parameters) }}
        {% endcall %}

        {% if reconstruction.has_data %}
          {% call tabs.tab_panel('Stats') %}
            <div class="g-0 mt-1 mb-5 stats-plots">
              {% include 'includes/_loader.html' %}

              <div class="form-floating form-group">
                <select name="stat-key" id="stat-key-select" class="form-control form-select" placeholder="Statistic">
                  {% for stat_key in stat_keys %}
                    <option value="{{ stat_key }}">{{ stat_key }}</option>
                  {% endfor %}
                </select>
                <label for="stat-key-select">Statistic</label>
              </div>

              <div id="stats-plot"></div>
            </div>
          {% endcall %}
        {% endif %}
      {% endif %}

      {% if reconstruction.has_video %}
        {% call tabs.tab_panel('Video') %}
          <div class="row">
            <video id="reconstruction-video" class="video-js" preload="auto"></video>
          </div>
        {% endcall %}
      {% endif %}

      {% if reconstruction.has_data %}
        {% call tabs.tab_panel('Tracking 2D') %}
          {% include 'includes/_tracking_plots_2d.html' %}
        {% endcall %}

        {% call tabs.tab_panel('Tracking 3D', reconstruction.source != 'MF') %}
          {% include 'includes/_tracking_plots_3d.html' %}
        {% endcall %}

        {% if reconstruction.source == 'MF' %}
          {% call tabs.tab_panel('Cameras') %}
            <div class="g-0 mt-1 mb-5 cameras-plots">
              {% include 'includes/_loader.html' %}
              <div class="form-floating form-group">
                <select name="cameras-key" id="cameras-key-select" class="form-control form-select"
                        placeholder="Camera parameters">
                  {% for cam_key in cam_keys %}
                    <option value="{{ cam_key }}">{{ cam_key }}</option>
                  {% endfor %}
                </select>
                <label for="cameras-key-select">Camera parameters</label>
              </div>
              <div id="cameras-plots"></div>
            </div>
          {% endcall %}

          {% call tabs.tab_panel('Render stats') %}
            <div class="g-0 mt-1 mb-5 render-stats-plots">
              {% include 'includes/_loader.html' %}
              <div class="row g-1">
                <div id="sigmas-plots"></div>
              </div>
              <div class="row g-1">
                <div id="exponents-plots"></div>
              </div>
              <div class="row g-1">
                <div id="intensities-plots"></div>
              </div>
            </div>
          {% endcall %}
        {% endif %}

        {% call tabs.tab_panel('Postures') %}
          <div class="g-0 mt-1 mb-5 postures-plots">
            {% include 'includes/_loader.html' %}

            <div class="row g-1 flex">
              <div class="col col-md-8 flex vh-100">
                {% if reconstruction.source == 'MF' %}
                <div class="form-floating form-group">
                  <select name="depth" id="depth-select" class="form-control form-select"
                          placeholder="Depth">
                    {% for d in range(reconstruction.mf_parameters.depth) %}
                      {% set selected = ' selected' if loop.last else '' %}
                      <option value="{{ d }}"{{ selected }}>{{ d }}</option>
                    {% endfor %}
                  </select>
                  <label for="depth-select">Depth</label>
                </div>
                {% endif %}
                <div id="posture-3d-plot" class="h-100"></div>
              </div>

              <div id="posture-2d-images" class="col col-md-{{ '2' if reconstruction.source == 'MF' else '4' }} vh-100">
                <div class="d-flex flex-column align-items-center h-100"></div>
              </div>
              {% if reconstruction.source == 'MF' %}
                <div id="posture-2d-masks" class="col col-md-2 vh-100">
                  <div class="d-flex flex-column align-items-center h-100"></div>
                </div>
              {% endif %}
            </div>

            {% if reconstruction.source == 'MF' %}
              <div class="row g-1">
                <div id="k-plots"></div>
              </div>
              <div class="row g-1">
                <div id="psi-plots"></div>
              </div>
              <div class="row g-1">
                <div id="m1-plots"></div>
              </div>
              <div class="row g-1">
                <div id="m2-plots"></div>
              </div>
            {% endif %}
          </div>
        {% endcall %}

        {% if reconstruction.source == 'MF' %}
          {% call tabs.tab_panel('Lengths') %}
            <div class="g-0 mt-1 mb-5 length-plots">
              {% include 'includes/_loader.html' %}
              <div id="length-plots"></div>
            </div>
          {% endcall %}
        {% endif %}

        {% call tabs.tab_panel('Planarity') %}
          <div class="g-0 mt-1 mb-5 planarity-plots">
            {% include 'includes/_loader.html' %}
            <div class="row">
              <div id="planarity-plot"></div>
            </div>
          </div>
        {% endcall %}

      {% endif %}

      {% if reconstruction.eigenworms | length > 0 %}
        {% call tabs.tab_panel('Eigenworms') %}
          <div class="g-0 mt-1 mb-5 eigenworms-plots">
            {% include 'includes/_loader.html' %}
            <div class="form-floating form-group">
              <select name="eigenworms-select" id="eigenworms-select" class="form-control form-select"
                      placeholder="Eigenworms">
                {% for ew in reconstruction.eigenworms %}
                  {% set selected = ' selected' if loop.first else '' %}
                  <option value="{{ ew.id }}"{{ selected }}>{{ ew }}</option>
                {% endfor %}
              </select>
              <label for="eigenworms-select">Eigenworms</label>
            </div>

            <div class="row">
              <div class="col col-md-4">
  {#              {% call cards.card() %}#}
  {#                {{ details.render(eigenworms_view, reconstruction) }}#}
  {#              {% endcall %}#}
              </div>

              <div class="col col-md-4">
                <div id="ew-eigenvalues-plot"></div>
              </div>
              <div class="col col-md-4">
                <div id="ew-variance-plot"></div>
              </div>

            </div>

          </div>
        {% endcall %}
      {% endif %}

    </div>

  </div>

{% endblock %}


{% block scripts %}
  <script>
      $(document).ready(function () {
          {% if reconstruction.source == 'MF' and reconstruction.has_data %}
          // ========================== Stats ==========================
          let stats = {};
          let stats_plot_data = [{
              x: [],
              y: [],
              type: 'line',
          }];
          let stats_plot_layout = {
              xaxis: {
                  title: 'Time (s)',
                  type: 'date',
                  tickformat: '%M:%S'
              }
          };
          Plotly.newPlot('stats-plot', stats_plot_data, stats_plot_layout, plot_config);

          function get_stats(key) {
              $('#stats-panel .loader').show();
              $.getJSON('{{ url_for('api.get_stats', _id=reconstruction.id) }}', {key: key}, function (data) {
                  stats[key] = {
                      x: timestamps_to_dates(data['timestamps']),
                      y: data['values']
                  }
                  $('#stats-panel .loader').hide();
                  plot_stats(key);
              });
          }

          function plot_stats(k) {
              stats_plot_data[0]['x'] = stats[k]['x'];
              stats_plot_data[0]['y'] = stats[k]['y'];
              Plotly.redraw('stats-plot');
          }

          $('#stat-key-select').change(function () {
              let k = $(this).val();
              if (k in stats) {
                  plot_stats(k);
              } else {
                  get_stats(k);
              }
          });

          // Load stats data and draw plot when the tab is activated
          $('#stats-tab').one('shown.bs.tab', function () {
              $('#stat-key-select').change();
          });

          {% endif %}

          {% if reconstruction.has_video %}
          // ========================== Reconstruction video player ==========================
          let stream_endpoint = '/media/reconstruction-video/{{ reconstruction.id }}';
          let duration_endpoint = '/media/reconstruction-video-duration/{{ reconstruction.id }}';
          let video = videojs('reconstruction-video', {
              controls: true,
              width: 600,
              playbackRates: [0.1, 0.5, 1, 2, 3, 5, 10]
          });
          video.src({
              src: stream_endpoint,
              type: 'video/mp4'
          });
          video.start = 0;

          // hack duration
          video.duration = function () {
              return video.theDuration;
          };

          // The original code for "currentTime"
          video.oldCurrentTime = function currentTime(seconds) {
              if (typeof seconds !== 'undefined') {
                  if (seconds < 0) {
                      seconds = 0;
                  }

                  this.techCall_('setCurrentTime', seconds);
                  return;
              }
              this.cache_.currentTime = this.techGet_('currentTime') || 0;
              return this.cache_.currentTime;
          };

          // Our modified currentTime
          video.currentTime = function (time) {
              if (time == undefined) {
                  return video.oldCurrentTime() + video.start;
              }
              video.start = time;
              video.oldCurrentTime(0);
              video.src({
                  src: stream_endpoint + '?start=' + time,
                  type: 'video/mp4'
              });
              return this;
          };

          // Get the duration of the movie
          $.getJSON(duration_endpoint, function (data) {
              video.theDuration = data.duration;
          });

          {% endif %}

          {% if reconstruction.has_data %}
          // ========================== Tracking trajectories ==========================
          let X, ts;

          function get_trajectory(cb) {
              $.getJSON('{{ url_for('api.get_trajectory_data', _id=reconstruction.id) }}', function (data) {
                  ts = data['timestamps'];
                  X = data['X'];
                  cb();
              });
          }

          // Load tracking data and draw 2d plots when the tab is activated
          $('#tracking-2d-tab').one('shown.bs.tab', function () {
              function make_plots() {
                  $('#tracking-2d-panel .loader').hide();
                  plot_tracking_pairs(X, 0, 1, ts);
                  plot_tracking_pairs(X, 0, 2, ts);
                  plot_tracking_pairs(X, 1, 2, ts);
                  for (let i = 0; i < 3; i++) {
                      plot_tracking_single(X, i, ts);
                  }
              }

              if (X) {
                  make_plots()
              } else {
                  get_trajectory(make_plots)
              }
          });

          // Load tracking data and draw 3d plot when the tab is activated
          $('#tracking-3d-tab').one('shown.bs.tab', function () {
              function make_plots() {
                  $('#tracking-3d-panel .loader').hide();
                  plot_tracking_3d(X, ts);
              }

              if (X) {
                  make_plots()
              } else {
                  get_trajectory(make_plots)
              }
          });

          {% if reconstruction.source != 'MF' %}
              $('#tracking-3d-tab').trigger('shown.bs.tab');
          {% endif %}


          {% if reconstruction.source == 'MF' %}
          // ========================== Cameras ==========================
          let cameras_params = {};

          function make_cameras_plot(timestamps, data, title) {
              let plot_data = [{
                  x: timestamps,
                  y: data[0],
                  type: 'line',
                  name: 'Camera 0'
              }, {
                  x: timestamps,
                  y: data[1],
                  type: 'line',
                  name: 'Camera 1'
              }, {
                  x: timestamps,
                  y: data[2],
                  type: 'line',
                  name: 'Camera 2'
              }];
              let layout = {
                  title: title,
                  xaxis: {
                      title: 'Time (s)',
                      type: 'date',
                      tickformat: '%M:%S'
                  }
              };
              $('#cameras-plots').append('<div class="row"></div>')
              Plotly.newPlot($('#cameras-plots div:last')[0], plot_data, layout, plot_config);
          }

          function get_cameras_params(key) {
              $('#cameras-panel .loader').show();
              $.getJSON('{{ url_for('api.get_cameras_parameters', _id=reconstruction.id) }}', {key: key}, function (data) {
                  cameras_params[key] = data;
                  $('#cameras-panel .loader').hide();
                  plot_cameras_params(key);
              });
          }

          function plot_cameras_params(k) {
              let p = cameras_params[k];
              let tms = timestamps_to_dates(p['timestamps']);
              $('#cameras-plots div').each(function () {
                  Plotly.purge(this);
              });
              for (let i = 0; i < p['shape'][0]; i++) {
                  make_cameras_plot(tms, p['data'][i], p['titles'][i])
              }
          }

          $('#cameras-key-select').change(function () {
              let k = $(this).val();
              if (k in cameras_params) {
                  plot_cameras_params(k);
              } else {
                  get_cameras_params(k);
              }
          });

          // Load camera params and draw plot when the tab is activated
          $('#cameras-tab').one('shown.bs.tab', function () {
              $('#cameras-key-select').change();
          });


          // ========================== Render stats (sigmas, exponents, intensities) ==========================

          let rs_keys = ['sigmas', 'exponents', 'intensities'];
          let rs_plot_data = {'sigmas': [], 'exponents': [], 'intensities': []};
          let rs_layouts = {};
          for (let i = 0; i < 3; i++) {
              let k = rs_keys[i];

              // Point plots
              for (let d = {{ D_min }}; d < {{ D }}; d++) {
                  rs_plot_data[k].push({
                      x: [],
                      y: [],
                      type: 'line',
                      name: 'Points (d=' + String(d) + ')',
                      yaxis: 'y1',
                  });
              }

              // Camera scaling factors plots
              for (let j = 0; j < 3; j++) {
                  rs_plot_data[k].push({
                      x: [],
                      y: [],
                      type: 'line',
                      name: 'Camera ' + String(j),
                      yaxis: 'y2'
                  });
              }

              rs_layouts[k] = {
                  title: k.charAt(0).toUpperCase() + k.slice(1),
                  xaxis: {title: 'Time (s)', type: 'date', tickformat: '%M:%S'},
                  yaxis: {title: 'Points', side: 'left'},
                  yaxis2: {title: 'Scaling factors', overlaying: 'y', side: 'right'},
                  margin: {t: 50},
              };

              Plotly.newPlot(k + '-plots', rs_plot_data[k], rs_layouts[k], plot_config);
          }

          function plot_render_stats(data) {
              let ts = timestamps_to_dates(data['timestamps']);
              for (let i = 0; i < 3; i++) {
                  let k = rs_keys[i];
                  let p = data[k];
                  let plot_idx = 0;
                  for (let d = {{ D_min }}; d < {{ D }}; d++) {
                      rs_plot_data[k][plot_idx]['x'] = ts;
                      rs_plot_data[k][plot_idx]['y'] = p['points'][d];
                      plot_idx++;
                  }
                  for (let j = 0; j < 3; j++) {
                      rs_plot_data[k][plot_idx]['x'] = ts;
                      rs_plot_data[k][plot_idx]['y'] = p['sfs'][j];
                      plot_idx++;
                  }
                  Plotly.react(k + '-plots', rs_plot_data[k], rs_layouts[k], plot_config);
              }
          }

          function get_render_stats() {
              $('#render-stats-panel .loader').show();
              $.getJSON('{{ url_for('api.get_render_stats', _id=reconstruction.id) }}', function (data) {
                  window.rsdata = data;
                  $('#render-stats-panel .loader').hide();
                  plot_render_stats(data);
              });
          }

          // Load sigmas and draw plot when the tab is activated
          $('#render-stats-tab').one('shown.bs.tab', function () {
              get_render_stats();
          });

          {% endif %}

          // ========================== Postures ==========================
          let depth = $('#depth-select').val();

          let postures_data = {
          {% if reconstruction.source == 'MF' %}
            {% for d in range(reconstruction.mf_parameters.depth_min, reconstruction.mf_parameters.depth) %}
                {{ d }}: {},
            {% endfor %}
          {% else %}
              undefined: {}
          {% endif %}
          };

          let postures_3d_plot_data = [{
              x: [],
              y: [],
              z: [],
              type: 'scatter3d',
              mode: 'markers',
              marker: {
                  size: 2,
                  colorscale: 'Jet'
              }
          }];
          let postures_3d_plot_layout = {
              scene: {
                  aspectmode: 'data',
              },
              margin: {
                  t: 50
              },
              xaxis: {
                  title: 'x',
              },
              yaxis: {
                  title: 'y'
              },
              zaxis: {
                  title: 'z'
              }
          };
          Plotly.newPlot('posture-3d-plot', postures_3d_plot_data, postures_3d_plot_layout, plot_config);

          let curvatures_keys = ['k', 'psi', 'm1', 'm2'];
          let curvatures_plot_data = {'k': [], 'psi': [], 'm1': [], 'm2': []};
          let curvatures_layouts = {};
          for (let i = 0; i < 4; i++) {
              let k = curvatures_keys[i];
              curvatures_plot_data[k] = [{
                  x: [],
                  y: [],
                  type: 'line',
              },];
              curvatures_layouts[k] = {
                  title: k,
                  xaxis: {title: 'Body coordinate'},
                  margin: {t: 50},
              };

              Plotly.newPlot(k + '-plots', curvatures_plot_data[k], curvatures_layouts[k], plot_config);
          }

          function plot_posture_3d() {
              let data = postures_data[depth][frame_num].posture;
              postures_3d_plot_data[0].x = data[0];
              postures_3d_plot_data[0].y = data[1];
              postures_3d_plot_data[0].z = data[2];
              postures_3d_plot_data[0].marker.color = linspace(0, 1, data[0].length);
              Plotly.react('posture-3d-plot', postures_3d_plot_data);
          }

          function draw_posture_2d_images() {
              let images = postures_data[depth][frame_num].images;
              let imgs = '';
              for (let i = 0; i < images.length; i++) {
                  imgs += '<img src="' + images[i] + '" class="mt-1 mw-100 vh-100"/>'; // w-100
              }
              $('#posture-2d-images .flex-column').html(imgs);
          }

          function draw_posture_2d_masks() {
              let masks = postures_data[depth][frame_num].masks;
              let imgs = '';
              for (let i = 0; i < masks.length; i++) {
                  imgs += '<img src="' + masks[i] + '" class="mt-1 mw-100 vh-100"/>';
              }
              $('#posture-2d-masks .flex-column').html(imgs);
          }

          function plot_curvatures() {
              let data = postures_data[depth][frame_num].curvatures;
              for (let i = 0; i < 4; i++) {
                  let k = curvatures_keys[i];
                  curvatures_plot_data[k][0]['x'] = data['xs'];
                  curvatures_plot_data[k][0]['y'] = data[k];
                  Plotly.react(k + '-plots', curvatures_plot_data[k], curvatures_layouts[k], plot_config);
              }
          }

          function update_postures() {
              if (frame_num in postures_data[depth]) {
                  plot_posture_3d();
                  draw_posture_2d_images();
                  {% if reconstruction.source == 'MF' %}
                      draw_posture_2d_masks();
                      plot_curvatures();
                  {% endif %}
              } else {
                  get_posture();
              }
          }

          function get_posture() {
              $('#postures-panel .loader').show();
              $.getJSON('{{ url_for('api.get_posture', _id=reconstruction.id) }}', {
                  frame_num: frame_num,
                  depth: depth
              }, function (data) {
                  postures_data[depth][frame_num] = data;
                  $('#postures-panel .loader').hide();
                  update_postures();
              });
          }

          $('#depth-select').change(function () {
              depth = $(this).val();
              update_postures();
          });

          // Load sigmas and draw plot when the tab is activated
          $('#postures-tab').one('shown.bs.tab', function () {
              update_postures();
          });

          // ========================== Frame controls ==========================
          let frame_num = {{ reconstruction.start_frame }};

          function set_frame_num(new_frame_num) {
              frame_num = new_frame_num;
              let progress = (frame_num -{{ reconstruction.start_frame }}) / {{ reconstruction.n_frames }};
              let t = ({{ reconstruction.start_frame }} + progress * {{ reconstruction.n_frames }}) / {{ reconstruction.trial.fps }};
              $('.fc-current-frame').text(Number(frame_num).toLocaleString());
              $('.fc-current-time').text(moment(t * 1000).format('mm:ss'));
              $('.fc-progress .progress-bar').width((progress * 100) + '%');
              update_postures();
          }

          $('.fc-prev').click(function () {
              set_frame_num(Math.max({{ reconstruction.start_frame }}, frame_num - 1));
          });

          $('.fc-prev-25').click(function () {
              set_frame_num(Math.max({{ reconstruction.start_frame }}, frame_num - 25))
          });

          $('.fc-next').click(function () {
              set_frame_num(Math.min({{ reconstruction.end_frame }}, frame_num + 1));
          });

          $('.fc-next-25').click(function () {
              set_frame_num(Math.min({{ reconstruction.end_frame }}, frame_num + 25));
          });

          $('.fc-progress').on('mousedown', function (e) {
              e.preventDefault();
              let progress = (e.pageX - $(this).offset().left) / $(this).width();
              let new_frame_num = Math.round({{ reconstruction.start_frame }} + progress * {{ reconstruction.n_frames }});
              set_frame_num(new_frame_num);
          });

          $('.fc-progress').on('mousemove', function (e) {
              let progress = (e.pageX - $(this).offset().left) / $(this).width();
              let n = Math.round({{ reconstruction.start_frame }} + progress * {{ reconstruction.n_frames }});
              let t = ({{ reconstruction.start_frame }} + progress * {{ reconstruction.n_frames }}) / {{ reconstruction.trial.fps }};
              $(this).attr('title', String(n) + ' / ' + moment(t * 1000).format('mm:ss'))
          });

          // Show frame controls when the relevant tabs are activated
          $('#postures-tab').on('shown.bs.tab', function () {
              $('.frame-controls').show();
          });

          // Hide frame controls when not needed
          $('#postures-tab').on('hidden.bs.tab', function () {
              $('.frame-controls').hide();
          });


          {% if reconstruction.source == 'MF' %}
          // ========================== Lengths ==========================
          let lengths_plot_data = [];
          for (let d = {{ D_min }}; d < {{ D }}; d++) {
              lengths_plot_data.push({
                  x: [],
                  y: [],
                  type: 'line',
                  name: 'Depth ' + String(d)
              });
          }

          let lengths_layout = {
              title: 'Worm length',
              xaxis: {title: 'Time (s)', type: 'date', tickformat: '%M:%S'},
              yaxis: {title: 'Length (mm)',},
              margin: {t: 50},
          };

          Plotly.newPlot('length-plots', lengths_plot_data, lengths_layout, plot_config);

          function get_lengths() {
              $('#lengths-panel .loader').show();
              $.getJSON('{{ url_for('api.get_worm_lengths', _id=reconstruction.id) }}', {frame_num: frame_num}, function (data) {
                  let ts = timestamps_to_dates(data['timestamps']);
                  let plot_idx = 0;
                  for (let d = {{ D_min }}; d < {{ D }}; d++) {
                      lengths_plot_data[plot_idx]['x'] = ts;
                      lengths_plot_data[plot_idx]['y'] = data['lengths'][d];
                      plot_idx++;
                  }
                  Plotly.react('length-plots', lengths_plot_data, lengths_layout, plot_config);
                  $('#lengths-panel .loader').hide();
              });
          }

          // Load lengths and draw plot when the tab is activated
          $('#lengths-tab').one('shown.bs.tab', function () {
              get_lengths();
          });

          {% endif %}

          // ========================== Planarity ==========================
          let planarity_plot_data = [{
              x: [],
              y: [],
              type: 'scattergl',
          }];
          let planarity_plot_layout = {
              title: 'Planarity',
              xaxis: {
                  title: 'Time (s)',
                  type: 'date',
                  tickformat: '%M:%S'
              }
          };
          Plotly.newPlot('planarity-plot', planarity_plot_data, planarity_plot_layout, plot_config);

          function plot_planarity() {
              $('#planarity-panel .loader').show();
              $.getJSON('{{ url_for('api.get_planarity', _id=reconstruction.id) }}', function (data) {
                  $('#planarity-panel .loader').hide();
                  planarity_plot_data[0]['x'] = timestamps_to_dates(data['timestamps']);
                  planarity_plot_data[0]['y'] = data.planarities;
                  Plotly.react('planarity-plot', planarity_plot_data, planarity_plot_layout);
              });
          }

          // Load planarity and draw plots when the tab is activated
          $('#planarity-tab').one('shown.bs.tab', function () {
              plot_planarity();
          });

          {% endif %}

          {% if reconstruction.eigenworms | length > 0 %}
          // ========================== Eigenworms ==========================
          let eigenworms = {};

          let ew_eigenvalues_plot_data = [{
              x: [],
              y: [],
              mode: 'markers',
              type: 'scattergl',
          }];
          let ew_eigenvalues_plot_layout = {
              title: 'Eigenvalues',
              xaxis: {
                  title: 'Component',
              }
          };
          Plotly.newPlot('ew-eigenvalues-plot', ew_eigenvalues_plot_data, ew_eigenvalues_plot_layout, plot_config);

          let ew_variance_plot_data = [{
              x: [],
              y: [],
              mode: 'markers',
              type: 'scattergl',
          }];
          let ew_variance_plot_layout = {
              title: 'Cumulative Variance',
              xaxis: {
                  title: 'Component',
              }
          };
          Plotly.newPlot('ew-variance-plot', ew_variance_plot_data, ew_variance_plot_layout, plot_config);

          function get_eigenworms(ewid) {
              $('#eigenworms-panel .loader').show();
              $.getJSON('/api/eigenworms/' + ewid, function (data) {
                  eigenworms[ewid] = {
                      x: data['idxs'],
                      eigenvalues: data['singular_values'],
                      variance: data['explained_variance_ratio']
                  }
                  $('#eigenworms-panel .loader').hide();
                  plot_eigenworms(ewid);
              });
          }

          function plot_eigenworms(ewid) {
              ew_eigenvalues_plot_data[0]['x'] = eigenworms[ewid]['x'];
              ew_eigenvalues_plot_data[0]['y'] = eigenworms[ewid]['eigenvalues'];
              Plotly.react('ew-eigenvalues-plot', ew_eigenvalues_plot_data, ew_eigenvalues_plot_layout);
              ew_variance_plot_data[0]['x'] = eigenworms[ewid]['x'];
              ew_variance_plot_data[0]['y'] = eigenworms[ewid]['variance'];
              Plotly.react('ew-variance-plot', ew_variance_plot_data, ew_variance_plot_layout);
          }

          $('#eigenworms-select').change(function () {
              let ewid = $(this).val();
              if (ewid in eigenworms) {
                  plot_eigenworms(ewid);
              } else {
                  get_eigenworms(ewid);
              }
          });

          // Load eigenworms and draw plots when the tab is activated
          $('#eigenworms-tab').one('shown.bs.tab', function () {
              $('#eigenworms-select').change();
          });
          {% endif %}
      });
  </script>

{% endblock %}

