{% extends '__layout.html' %}
{% import 'includes/_data_table.html' as table %}
{% import 'includes/_details_table.html' as details %}
{% import 'includes/_tabs.html' as tabs %}
{% import 'includes/_cards.html' as cards %}
{% set table_name_frames="data-table-trial-" + trial.id|string + "-frames" %}
{% set table_name_reconstructions="data-table-trial-" + trial.id|string + "-reconstructions" %}


{% block content %}
  <div class="row mb-4">
    <div class="col-sm-12 col-md-6">
      {% call cards.card() %}
        {{ details.render(trial_view, trial) }}
      {% endcall %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% call cards.card('Experiment') %}
        {{ details.render(experiment_view, trial.experiment) }}
      {% endcall %}
    </div>
  </div>

  <div class="row">

    <ul class="nav nav-tabs" id="trial-{{ trial.id }}-tabs" role="tablist">
      {{ tabs.tab_item('Videos', true) }}
      {{ tabs.tab_item('Tracking 2D') }}
      {{ tabs.tab_item('Tracking 3D') }}
      {{ tabs.tab_item('Frames') }}
      {{ tabs.tab_item('Reconstructions') }}
    </ul>
    <div class="tab-content" id="trial-{{ trial.id }}-panels">
      {% call tabs.tab_panel('Videos') %}
        {% include 'includes/_video_triplet_player.html' %}
      {% endcall %}
      {% call tabs.tab_panel('Tracking 2D') %}
        {% include 'includes/_tracking_plots_2d.html' %}
      {% endcall %}
      {% call tabs.tab_panel('Tracking 3D') %}
        {% include 'includes/_tracking_plots_3d.html' %}
      {% endcall %}
      {% call tabs.tab_panel('Frames') %}
        <div class="row">
          <div id="frames-table" class="col-md-8">
            {{ table.render(frame_view, table_name_frames) }}
          </div>
          <div id="frame-details" class="col-md-4">
            {% call cards.card('Cropped images') %}
              <div class="d-flex flex-column align-items-center"></div>
            {% endcall %}
          </div>
        </div>
      {% endcall %}
      {% call tabs.tab_panel('Reconstructions') %}
        {{ table.render(reconstruction_view, table_name_reconstruction) }}
      {% endcall %}
    </div>

  </div>

{% endblock %}


{% block scripts %}
  {% include 'includes/_video_js.html' %}

  {% with %}
    {% set doc_view=frame_view %}
    {% set table_name=table_name_frames %}
    {% set table_order=[1, 'asc'] %}
    {% include 'includes/_table_js.html' %}
  {% endwith %}
  {% with %}
    {% set doc_view=reconstruction_view %}
    {% set table_name=table_name_reconstruction %}
    {% include 'includes/_table_js.html' %}
  {% endwith %}

  <script>
      $(document).ready(function () {
          let X, ts;

          function get_tracking_data(cb) {
              $.getJSON('{{ url_for('api.get_tracking_data', _id=trial.id) }}', function (data) {
                  ts = data['timestamps'];
                  X = data['centres_3d'];
                  cb();
              });
          }

          // Load tracking data and draw 2d plots when the tab is activated
          $('#tracking-2d-tab').one('shown.bs.tab', function () {
              function make_plots() {
                  $('#tracking-2d-panel .spinner-border').hide();
                  plot_tracking_pairs(X, 0, 1, ts);
                  plot_tracking_pairs(X, 0, 2, ts);
                  plot_tracking_pairs(X, 1, 2, ts);
                  for (let i = 0; i < 3; i++) {
                      plot_tracking_single(X, i, ts);
                  }
              }
              if (X) {
                  make_plots()
              } else {
                  get_tracking_data(make_plots)
              }
          });

          // Load tracking data and draw 3d plot when the tab is activated
          $('#tracking-3d-tab').one('shown.bs.tab', function () {
              function make_plots() {
                  $('#tracking-3d-panel .spinner-border').hide();
                  plot_tracking_3d(X, ts);
              }
              if (X) {
                  make_plots()
              } else {
                  get_tracking_data(make_plots)
              }
          });

          // Load frame images on selecting it in the table
          function load_frame_details(frame_id) {
              $.getJSON('/api/frame/' + frame_id, function (data) {
                  let imgs = '';
                  for (let i = 0; i < data.images.length; i++) {
                      imgs += '<img src="' + data.images[i] + '" class="mt-2 w-75"/><br>'
                  }
                  $('#frame-details .flex-column').html(imgs).show();
              });
          }

          $('#{{table_name_frames}} tbody').on('click', 'tr', function () {
              if ($(this).hasClass('table-primary')) {
                  $(this).removeClass('table-primary');
                  $('#frame-details img').remove();
              } else {
                  $('#{{table_name_frames}} tr').removeClass('table-primary');
                  $(this).addClass('table-primary');
                  const frame_id = $('#{{table_name_frames}}').DataTable({retrieve: true}).row(this).data()._id;
                  load_frame_details(frame_id)
              }
          });
      });
  </script>

{% endblock %}

