{% extends '__layout.html' %}
{% import 'includes/_data_table.html' as table %}
{% import 'includes/_details_table.html' as details %}
{% import 'includes/_tabs.html' as tabs %}
{% import 'includes/_cards.html' as cards %}
{% set table_name_frames="data-table-trial-" + trial.id|string + "-frames" %}
{% set table_name_reconstructions="data-table-trial-" + trial.id|string + "-reconstructions" %}


{% block content %}
  <div class="row mb-4">
    <div class="col-sm-12 col-md-6">
      {% call cards.card() %}
        {{ details.render(trial_view, trial) }}
      {% endcall %}
    </div>
    <div class="col-sm-12 col-md-6">
      {% call cards.card('Experiment') %}
        {{ details.render(experiment_view, trial.experiment) }}
      {% endcall %}
    </div>
  </div>

  <div class="row">

    <ul class="nav nav-tabs" id="trial-{{ trial.id }}-tabs" role="tablist">
      {{ tabs.tab_item('Videos', true) }}
      {{ tabs.tab_item('Tracking 2D') }}
      {{ tabs.tab_item('Tracking 3D') }}
      {{ tabs.tab_item('Frames') }}
      {{ tabs.tab_item('Reconstructions') }}
    </ul>
    <div class="tab-content" id="trial-{{ trial.id }}-panels">
      {% call tabs.tab_panel('Videos', true) %}
        {% include 'includes/_video_triplet_player.html' %}
      {% endcall %}
      {% call tabs.tab_panel('Tracking 2D') %}
        <select name="tracking-fixed-2d-select" id="tracking-fixed-2d-select" class="form-control form-select"
                placeholder="Fixed centres">
          <option value="1">Fixed</option>
          <option value="0">Raw triangulations</option>
        </select>
        {% include 'includes/_tracking_plots_2d.html' %}
      {% endcall %}
      {% call tabs.tab_panel('Tracking 3D') %}
        <select name="tracking-fixed-3d-select" id="tracking-fixed-3d-select" class="form-control form-select"
                placeholder="Fixed centres">
          <option value="1">Fixed</option>
          <option value="0">Raw triangulations</option>
        </select>
        {% include 'includes/_tracking_plots_3d.html' %}
      {% endcall %}
      {% call tabs.tab_panel('Frames') %}
        <div class="row">
          <div id="frames-table" class="col-md-8">
            {{ table.render(frame_view, table_name_frames) }}
          </div>
          <div id="frame-details" class="col-md-4">
            {% call cards.card('Cropped images', sticky=True) %}
              <div class="d-flex flex-column align-items-center"></div>
            {% endcall %}
          </div>
        </div>
      {% endcall %}
      {% call tabs.tab_panel('Reconstructions') %}
        {{ table.render(reconstruction_view, table_name_reconstruction) }}
      {% endcall %}
    </div>

  </div>

{% endblock %}


{% block scripts %}
  {% include 'includes/_video_js.html' %}

  {% with %}
    {% set doc_view=frame_view %}
    {% set table_name=table_name_frames %}
    {% set table_order=[1, 'asc'] %}
    {% set initialise=False %}
    {% include 'includes/_table_js.html' %}
  {% endwith %}
  {% with %}
    {% set doc_view=reconstruction_view %}
    {% set table_name=table_name_reconstruction %}
    {% set initialise=False %}
    {% include 'includes/_table_js.html' %}
  {% endwith %}

  <script>
      $(document).ready(function () {
          // ========================== Tracking trajectories ==========================
          let X = {}, ts;
          let fixed_2d = $('#tracking-fixed-2d-select').val();
          let fixed_3d = $('#tracking-fixed-3d-select').val();

          function get_tracking_data(fixed, cb) {
              $.getJSON('{{ url_for('api.get_tracking_data', _id=trial.id) }}', {fixed: fixed}, function (data) {
                  ts = data['timestamps'];
                  X[fixed] = data['centres_3d'];
                  cb();
              });
          }

          function make_tracking_2d_plots() {
              let Xf = X[fixed_2d];
              plot_tracking_pairs(Xf, 0, 1, ts);
              plot_tracking_pairs(Xf, 0, 2, ts);
              plot_tracking_pairs(Xf, 1, 2, ts);
              for (let i = 0; i < 3; i++) {
                  plot_tracking_single(Xf, i, ts);
              }
              $('#tracking-2d-panel .loader').hide();
          }

          function make_tracking_3d_plots() {
              let Xf = X[fixed_3d];
              plot_tracking_3d(Xf, ts);
              $('#tracking-3d-panel .loader').hide();
          }

          // Update the 2D tracking plots when changing between fixed and raw views
          $('#tracking-fixed-2d-select').change(function () {
              $('#tracking-2d-panel .loader').show();
              fixed_2d = $(this).val();
              if (fixed_2d in X) {
                  make_tracking_2d_plots();
              } else {
                  get_tracking_data(fixed_2d, make_tracking_2d_plots);
              }
          });

          // Update the 3D tracking plots when changing between fixed and raw views
          $('#tracking-fixed-3d-select').change(function () {
              $('#tracking-3d-panel .loader').show();
              fixed_3d = $(this).val();
              if (fixed_3d in X) {
                  make_tracking_3d_plots();
              } else {
                  get_tracking_data(fixed_3d, make_tracking_3d_plots);
              }
          });

          // Load tracking data and draw 2D plots when the tab is activated
          $('#tracking-2d-tab').one('shown.bs.tab', function () {
              $('#tracking-fixed-2d-select').change();
          });

          // Load tracking data and draw 3D plots when the tab is activated
          $('#tracking-3d-tab').one('shown.bs.tab', function () {
              $('#tracking-fixed-3d-select').change();
          });


          // ========================== Frames ==========================
          $('#frames-tab').one('shown.bs.tab', function () {
              initialise_{{ frame_view.collection_name }}_table();
              $('#{{table_name_frames}} tbody').on('click', 'tr', handle_frame_row_select);
          });

          // Load frame images on selecting it in the table
          function load_frame_details(frame_id) {
              $.getJSON('/api/frame/' + frame_id, function (data) {
                  let imgs = '';
                  for (let i = 0; i < data.images.length; i++) {
                      imgs += '<img src="' + data.images[i] + '" class="mt-2 w-75"/><br>'
                  }
                  $('#frame-details .flex-column').html(imgs).show();
              });
          }

          function handle_frame_row_select() {
              if ($(this).hasClass('table-primary')) {
                  $(this).removeClass('table-primary');
                  $('#frame-details img').remove();
              } else {
                  $('#{{table_name_frames}} tr').removeClass('table-primary');
                  $(this).addClass('table-primary');
                  const frame_id = $('#{{table_name_frames}}').DataTable({retrieve: true}).row(this).data()._id;
                  load_frame_details(frame_id);
              }
          };

          // ========================== Reconstructions ==========================
          $('#reconstructions-tab').one('shown.bs.tab', function () {
              initialise_{{ reconstruction_view.collection_name }}_table()
          });
      });
  </script>

{% endblock %}

