#trial_date i {
    margin-right: 7px;
}

.dataTable.dt-items-clickable tr:hover {
    cursor: pointer;
}

#filters-accordion {
    margin-bottom: 1rem;
}

.tab-content {
    position: relative;
}

.loader {
    z-index: 2000;
    opacity: 0.7;
}

.vc-progress, .fc-progress {
    width: 80%;
    display: inline-block;
}

.vc-progress, .fc-progress {
    cursor: pointer;
}

.vc-progress .progress-bar, .fc-progress .progress-bar {
    height: 100%;
    width: 0;
}

.vc-play, .fc-prev, .fc-next, .fc-prev-25, .fc-next-25 {
    border-radius: 50%;
}

.vc-time, .fc-time {
    display: inline-block;
}

#tracking-plot-3d {
    height: 50rem;
}

.quality-10 {
    background: #79dfc1;  /* teal-300 */
}

.quality-9 {
    background: #a6e9d5;  /* teal-200 */
}

.quality-7 {
    background: #cff4fc;  /* cyan-100 */
}

.quality-5 {
    background: #ffe69c;  /* yellow-200 */
}

.quality-3 {
    background: #feb272;  /* orange-300 */
}

.quality-1 {
    background: #f1aeb5;  /* red-200 */
}
