#trial_date i {
    margin-right: 7px;
}

.dataTable.dt-items-clickable tr:hover {
    cursor: pointer;
}

#filters-accordion {
    margin-bottom: 1rem;
}

.tab-content {
    position: relative;
}

.loader {
    z-index: 2000;
    opacity: 0.7;
}

.vc-progress, .fc-progress {
    width: 80%;
    display: inline-block;
}

.vc-progress, .fc-progress {
    cursor: pointer;
}

.vc-progress .progress-bar, .fc-progress .progress-bar {
    height: 100%;
    width: 0;
}

.vc-play, .fc-prev, .fc-next {
    border-radius: 50%;
}

.vc-time, .fc-time {
    display: inline-block;
}

#tracking-plot-3d {
    height: 50rem;
}
