#trial_date i {
    margin-right: 7px;
}

.dataTable.dt-items-clickable tr:hover {
    cursor: pointer;
}

#filters-accordion {
    margin-bottom: 1rem;
}

.vc-progress {
    width: 80%;
    display: inline-block;
}

.vc-progress .progress-bar {
    height: 100%;
    width: 0;
}

.vc-play {
    border-radius: 50%;
}

.vc-time {
    display: inline-block;
}

#tracking-plot-3d {
    height: 50rem;
}
