{% macro render(doc_view, doc) -%}
  <table class="table w-30">
    <tbody>
    {% for key, field in doc_view.fields.items() if key not in doc_view.hide_fields %}
      <tr>
        <th width="40%">{{ field.title }}</th>
        <td>
        {% if key == '_id' %}
          <a href="/{{ doc_view.collection_name }}/{{ doc.id }}">{{ doc.id }}</a>
        {% elif doc[key] is none %}
          {# empty cell #}
        {% elif field.type == 'boolean' %}
          {% if doc[key] %}
            <span class="oi oi-check text-success"></span>
          {% else %}
            <span class="oi oi-x text-danger"></span>
          {% endif %}
        {% elif field.type == 'integer' %}
          {{ '{:,}'.format(doc[key]) }}
        {% elif field.type == 'float' %}
          {{ ('{:,.' + field.precision|string + 'f}').format(doc[key]) }}
        {% elif field.type == 'scientific' %}
          {{ ('{:,.' + field.precision|string + 'e}').format(doc[key]) }}
        {% elif field.type == 'date' %}
          {{ doc[key].strftime('%Y-%m-%d') }}
        {% elif field.type == 'datetime' %}
          {{ doc[key].strftime('%Y-%m-%d %H:%M:%S') }}
        {% elif field.type == 'time' %}
          {{ doc[key].strftime('%M:%S') }}
        {% else %}
          {{ doc[key] }}
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}
