<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
        $( "#{{ table_name }}" ).DataTable( {
            order: [ {{ table_order|safe }} ],     {# table_order is not user supplied, so should be ok #}
            pageLength: 25,
            // lengthMenu: [ 10, 25, 50, 100 ],
            // dom : '<"row no-gutters"<"col-12 col-md-6"l><"col-12 col-md-6"f>>t<"col-12"p>',
            scrollX: true,
            processing: true,
            serverSide: true,   // Enable server side processing to achieve low loading time pagination/queries
            ajax: {
                url: "{{ ajax_url }}",
                dataSrc: "data",   {# name of queried data in the ajax json response #}
                {# mboo2005@v1.10.1116:50, Fri 26th Feb 2016
                Sometimes we don't want to change server side code especially when using some API.
                To alter the parameters send by DataTables use the ajax.data option.
                For returned data when server-side processing,
                if you wish to alter the JSON structure use the ajax.dataFilter option:

                dataFilter: function(data){
                    var json = jQuery.parseJSON( data );
                    json.recordsTotal = json.total;
                    json.recordsFiltered = json.total;
                    json.data = json.list;

                    return JSON.stringify( json ); // return JSON string
                }#}
            },
            columnDefs: [
                { targets: "_all", defaultContent: "" }   {# Show nothing on cells that don't have a value #}
            ],
            columns: [
                {% for header in source_headers %}
                    {
                        data: "{{ header }}",
                        render: function(data, type, row, meta) {
                            {# If the column contains date values (specified in the route), format it. #}
                            {% if header in date_headers %}
                                // Obtain the timestamp from the object
                                const timestamp = data["$date"];

                                // If display or filter data is requested, format the date
                                if ( type === 'display' || type === 'filter' ) {
                                    return moment(timestamp).format("DD-MMM-YYYY");
                                }

                                // If sort/type data is requested, parse the date object into a timestamp
                                return timestamp;
                            {% endif %}

                            if (meta.col === 0) {
                                {# Return non-date data values as a link to the row instance. #}
                                return "<a href='trials/" + row._id + "'>" + data + "</a>";
                            }

                            {# Return data as is for all other columns #}
                            return data;
                        }
                    },
                {% endfor %}
            ],
        });
    });
</script>
