{%- macro render_value(value, field) -%}
  {% if field.type == 'array' %}
    {% set type = field.type_array %}
  {% else %}
    {% set type = field.type %}
  {% endif %}
  {% if type == 'relation' %}
    {% if value is iterable %}
      {% set value = value.id %}
    {% endif %}
    <a href="/{{ field.collection_name }}/{{ value }}">{{ value }}</a>
  {% elif value is none %}
    {# empty cell #}
  {% elif type == 'boolean' %}
    {% if value %}
      <span class="oi oi-check text-success"></span>
    {% else %}
      <span class="oi oi-x text-danger"></span>
    {% endif %}
  {% elif type == 'integer' %}
    {{ '{:,}'.format(value | default(0)) }}
  {% elif type == 'float' %}
    {{ ('{:,.' + field.precision|string + 'f}').format(value) }}
  {% elif type == 'scientific' %}
    {{ ('{:,.' + field.precision|string + 'e}').format(value) }}
  {% elif type == 'date' %}
    {{ value.strftime('%Y-%m-%d') }}
  {% elif type == 'datetime' %}
    {{ value.strftime('%Y-%m-%d %H:%M:%S') }}
  {% elif type == 'time' %}
    {{ value.strftime('%M:%S') }}
  {% elif type == 'enum' %}
    {{ field.choices[value] }}
  {% else %}
    {{ value }}
  {% endif %}
{%- endmacro -%}

{% macro render(doc_view, doc) -%}
  <table class="table w-30">
    <tbody>
    {% for key, field in doc_view.fields.items() if key not in doc_view.hide_fields %}
      <tr data-key="{{ key }}">
        <th width="40%">{{ field.title }}</th>
        <td>
        {% if key == '_id' and not doc._id %}
          {% set key = 'id' %}
        {% endif %}
        {% if field.type == 'array' %}
          {% for val in doc[key] %}
            {{ render_value(val, field) | trim }}{{ ', ' if not loop.last else '' }}
          {% endfor %}
        {% else %}
          {{ render_value(doc[key], field) }}
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endmacro %}
