<script>
    $(document).ready(function () {
        const _ui_update_interval = 250;
        let _interval_id;
        let _current_time = 0;
        let _duration = 0;
        let _durations = [0, 0, 0];
        let is_ready = [false, false, false];
        let is_playing = [false, false, false];


        function is_ready_all() {
            return !is_ready.some(function (v) {
                return v === false;
            });
        }

        function is_playing_any() {
            return is_playing.some(function (v) {
                return v === true;
            });
        }

        function set_master_duration() {
            _duration = Math.max(..._durations);
            $('.vc-duration').text(moment(_duration * 1000).format('mm:ss'));
        }

        {#
        Transcoding code
        JS code from https://stackoverflow.com/questions/3639604/html5-audio-video-and-live-transcoding-with-ffmpeg
        Originally by user3612643 (derolf), upgraded for video.js version 7.7.6 by Gustav P Svensson
        #}
        let videos = [];
        for (let i = 0; i < 3; i++) {
            (function () {
                let stream_endpoint = '/media/stream/{{ trial.id }}/' + i;
                let duration_endpoint = '/media/duration/{{ trial.id }}/' + i;

                let video = videojs('cam_video_' + i, {
                    controls: false,
                    fluid: true,
                    responsive: true
                });
                video.src({
                    src: stream_endpoint,
                    type: 'video/mp4'
                });
                video.start = 0;

                // The original code for "currentTime"
                video.oldCurrentTime = function currentTime(seconds) {
                    if (typeof seconds !== 'undefined') {
                        if (seconds < 0) {
                            seconds = 0;
                        }

                        this.techCall_('setCurrentTime', seconds);
                        return;
                    }
                    this.cache_.currentTime = this.techGet_('currentTime') || 0;
                    return this.cache_.currentTime;
                };

                // Our modified currentTime
                video.currentTime = function (time) {
                    if (time == undefined) {
                        return video.oldCurrentTime() + video.start;
                    }
                    if (time == video.oldCurrentTime() + video.start) {
                        return this;
                    }
                    video.start = time;
                    video.oldCurrentTime(0);
                    video.src({
                        src: stream_endpoint + '?start=' + time,
                        type: 'video/mp4'
                    });
                    return this;
                };

                // Get the duration of the movie
                $.getJSON(duration_endpoint, function (data) {
                    _durations[i] = data.duration;
                    set_master_duration();
                });

                videos.push(video);
            })();
        }

        function sync_times() {
            for (let i = 0; i < 3; i++) {
                videos[i].currentTime(_current_time);
            }
        };

        function pause_videos() {
            for (let i = 0; i < 3; i++) {
                videos[i].pause();
            }
            clearInterval(_interval_id);
        };

        function play_videos() {
            if (!is_ready_all()) {
                window.setTimeout(play_videos, 100);
                return;
            }
            for (let i = 0; i < 3; i++) {
                let video = videos[i];
                if (video.paused()) {
                    video.play();
                }
            }

            // update UI every 250ms
            _interval_id = setInterval(interval_step, _ui_update_interval);
        };


        $.each(videos, function (i) {
            let video = videos[i];

            video.on('canplay', function () {
                is_ready[i] = true;
            });

            video.on('playing', function () {
                is_playing[i] = true;
            });

            video.on('pause', function () {
                is_playing[i] = false;
            });

            video.on('loadstart', function () {
                is_ready[i] = false;
            });

            video.on('ended', function () {
                is_playing[i] = false;
            });
        });

        $('.vc-play').on('click', function (e) {
            e.preventDefault();
            if (!is_ready_all()) {
                return;
            }
            if (is_playing_any()) {
                $('.oi-media-pause', this).removeClass('oi-media-pause').addClass('oi-media-play');
                pause_videos();
            } else {
                $('.oi-media-play', this).removeClass('oi-media-play').addClass('oi-media-pause');
                play_videos();
            }
        });

        $('.vc-progress').on('mousedown', function (e) {
            e.preventDefault();
            let play_state = is_playing_any();
            if (play_state) {
                pause_videos();
            }
            let progress = (e.pageX - $(this).offset().left) / $(this).width();
            _current_time = progress * _duration;
            sync_times();
            $('.vc-current-time').text(moment(_current_time * 1000).format('mm:ss'));
            $('.vc-progress .progress-bar').width((progress * 100) + '%');
            if (play_state) {
                play_videos();
            }
        });

        function interval_step() {
            if (!is_ready_all()) {
                return
            } else if (!is_playing_any()) {
                $('.vc-play .oi-media-pause').removeClass('oi-media-pause').addClass('oi-media-play');
                clearInterval(_interval_id);
                return;
            }
            _current_time += _ui_update_interval / 1000;
            $('.vc-current-time').text(moment(_current_time * 1000).format('mm:ss'));
            let progress = _current_time / _duration;
            $('.vc-progress .progress-bar').width((progress * 100) + '%');
        }
    });
</script>
