{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    <div class="alert alert-danger block-message" role="alert">
      <ul class="mb-0">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["success"]) %}
  {% if messages %}
    <div class="alert alert-primary block-message" role="alert">
      <ul class="mb-0">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["info"]) %}
  {% if messages %}
    <div class="alert alert-info block-message" role="alert">
      <ul class="mb-0">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}
