{% extends '__layout.html' %}
{% import 'table/_data_table.html' as table %}
{% import 'table/_filters.html' as filters %}


{% block content %}
  <div class="row no-gutters">
    <div class="col-sm-12 bd-content" class="overflow-auto">
      {{ filters.render(doc_view.filters_form()) }}
      {{ table.render(doc_view) }}
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {% with %}
    {% set table_name='data-table-' + doc_view.collection_name %}
    {% set table_order=table_order or [0, 'asc'] %}
    {% include 'table/_table_js.html' %}
  {% endwith %}
{% endblock %}
