{% extends '__layout.html' %}


{% block content %}
  <div class="row no-gutters">
    <div class="col-sm-12" class="overflow-auto">
      <table class="table table-striped table-sm display w-100{{ ' dt-items-clickable' if doc_view.has_item_view else '' }}" id="data-table">
        <thead class="table-header">
          <tr>
            {% for field in doc_view.fields %}
              <th scope="col">{{ field.title }}</th>
            {% endfor %}
          </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {% with %}
    {% set table_name="data-table" %}
    {% set table_order=[ 0, "asc" ] %}
    {% include "table/table_js.html" %}
  {% endwith %}
{% endblock %}
