{% extends '__layout.html' %}


{#{% block css %}#}
{#  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css"/>#}
{#{% endblock %}#}
{##}
{##}
{#{% block content %}#}
{#  Trial number {{ instance }}#}
{##}
{#  <video id="player" playsinline controls data-poster="../static/worm_data/video_screenshot/043_2.png">   {# the first frame's image #}
{#    <source src="../static/worm_data/video/043_2.avi" type="video/avi" />#}
{#  </video>#}
{##}
{#{% endblock %}#}
{##}
{##}
{#{% block scripts %}#}
{#  {% include "player/plyr_js.html" %}#}
{#{% endblock %}#}


{% block css %}
  <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{% endblock %}


{% block content %}
  <video id="video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264">
  </video>
{% endblock %}


{% block scripts %}
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>

  <script>
      {#
      JS code from https://stackoverflow.com/questions/3639604/html5-audio-video-and-live-transcoding-with-ffmpeg
      Originally by user3612643 (derolf), upgraded for video.js version 7.7.6 by Gustav P Svensson
      #}

      video = videojs("video");
      video.src({
          src: '/media/{{ video_id }}_0.avi',
          type: 'video/mp4'
      });

      // hack duration
      video.duration = function () {
          return video.theDuration;
      };
      video.start = 0;

      // The original code for "currentTime"
      video.oldCurrentTime = function currentTime(seconds) {
          if (typeof seconds !== 'undefined') {
              if (seconds < 0) {
                  seconds = 0;
              }

              this.techCall_('setCurrentTime', seconds);
              return;
          }
          this.cache_.currentTime = this.techGet_('currentTime') || 0;
          return this.cache_.currentTime;
      };

      // Our modified currentTime
      video.currentTime = function (time) {
          if (time == undefined) {
              return video.oldCurrentTime() + video.start;
          }
          video.start = time;
          video.oldCurrentTime(0);
          video.src({
              src: "/media/{{ video_id }}_0.avi?start=" + time,
              type: 'video/mp4'
          });
          video.play();
          return this;
      };

      // Get the duration of the movie
      $.getJSON("/media/duration/{{ video_id }}_0.avi", function (data) {
          video.theDuration = data.duration;
      });
  </script>
{% endblock %}

